.topbar{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: white;
    height: 200px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.topbarTop{
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    border-bottom: 1px solid var(--primary-grey);
    
}

.tbLeft, .tbCenter, .tbRight{
    display: flex;
    align-items: center;
    flex: 1;
}

.logo{
    font-size: 35px;
    color: var(--airbnb-color);
}

.logoText{
    font-size: 1.5rem;
    font-family: 'Open Sans';
    font-weight: 600;
    color: var(--airbnb-color);
}


.tbCenter{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 60%;
    color: var(--primary-black);
    font-size: 0.8rem;
}

.searchBar, .sbContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    box-shadow: var(--customShadow);
    border: 2px solid var(--primary-grey);
    border-radius: 30px;
}
.sbContainer{
    width: 100%;
    border: none;
}


.anywhere, .anyweek, .addguests{
    width: 29%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    border-right: 1px solid var(--primary-grey);
}
.anywhere, .anyweek{
    font-weight:600;
}
.addguests{
    border-right: none;
    font-weight: 600;
    color: var(--text-grey);
}
.searchIconWrapper{
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: var(--airbnb-color);
    align-items: center;
    justify-content: center;
    color:white;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    
}

.searchIcon{
    font-weight: 600;
}


/*SEARCHBAR MOBILE HERE*************************************************/

.searchBarMobile{
    display: none;
    flex-direction: row;
    width: 100%;
}

.sbmLeft{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.sbmSearchIcon{
    font-size: 24px;
}

.sbmCenter{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 65%;
}
.whereto{
    font-weight: 600;
}

.sbmlinks{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.sbmlinks>span{
    font-size: 12px;
    cursor: pointer;
}

.sbmRight{
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-grey);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.filterIcon{
    font-size: 30px;
    font-weight: 600;
}


.tbRight{
    justify-content: flex-end;
    gap: 20px;
}

.becomeHost{
    font-size: 0.9rem;
    color: var(--primary-black);
    font-weight: 600;
    cursor: pointer;
}

.globe{
    font-size: 1.2rem;
    color: var(--primary-black);
    cursor: pointer;
}

.profileContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width:20%;
    border: 1px solid var(--primary-grey);
    padding: .5rem .1rem;
    border-radius: 30px;
    gap: 10px;
    position: relative;
}

.menuIcon{
    font-size: 1.5rem !important;
    cursor: pointer;
}

.profileIcon{
    font-size: 30px;
    color:var(--text-grey);
    cursor: pointer;
}

.counter{
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid white;
    position: absolute;
    right:0.35rem;
    bottom:1.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    color:white;
    background: var(--airbnb-color);
    padding:.2rem;
    
}


.topBarBottom{
    width: 100%;
    height: 60%;
    display: flex;
    padding: 25px 0px 0px 15px;
    overflow: auto;
    position: relative;
    overflow-x: scroll;
    
}

.topBarBottom::-webkit-scrollbar{
    background: transparent;
}

.filterTabsWrapper{
    display: flex;
    flex-direction: row;
    width: 2000px;
    height: 100%;
    
    
}

.filterIconsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    background:linear-gradient(to right, rgba(255,255,255,0.5),0.25%, rgba(255,255,255,1));
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 20px;
    gap: 20px;
    z-index: 3;
}

.arrowWrapper, .filterBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary-grey);
    border-radius: 50%;
    background-color: #fff;
}

.filterBtnContainer{
    width: 40%;
    height: 80%;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    gap: 5px;
}

.filterBtnContainer>.filters{
    font-weight: 600;
    font-size: 0.9rem;
}

.filterSlider{
    font-size: 20px;
    font-weight: 700;
}



/**********************MEDIA QUERIES****************************************/


@media  screen and (max-width:1200px) {
    .topbarTop{
        justify-content: flex-start;
    }
    .tbLeft{
        flex: 0.5;
    }

    .iconText{
        display: none;
    }

    .filterIconsContainer{
        width: 20%;
    }

    .filterBtnContainer{
        width: 60%;
        margin-right: 20px;
    }


}

@media  screen and (max-width:900px) {

    .logoText{
        display: none;
    }
    .topbarTop{
        
    }
    .tbLeft{
        flex: 0.1;
    }

    .tbCenter{
        flex: 1.5;
    }
    .tbRight{
        flex: 1.4;
    }
    .filterIconsContainer{
        display: none;
    }
     
}

@media screen and (max-width:750px){
    .topbar{
        border-bottom: 2px solid var(--primary-grey);
        height: 170px;
        box-sizing: content-box;
    }
    .topbarTop{
        border-bottom: none;
        padding: 0px;
        height: 60%;
    }
    .topBarBottom{
        padding-top: 0px;
        padding-bottom: 10px;
        margin: 0px;
        justify-content: flex-start;
        height: 60%;
        box-sizing: content-box;
    }
    .filterTabsWrapper{
        padding-bottom: 0px;
        box-sizing: content-box;
        margin: 0px;
        height: 100%;
        overflow-y: visible;
    }

    .sbContainer{
        display: none;
    }
    
    .searchBarMobile{
        display: flex;
        width: 100%;
        position: relative;
        height:75px;
        align-items: center;
    }

    .filterIcon{
        font-size: 1.4rem;
        font-weight: bold;
    }
    
    .sbmRight{
        position: absolute;
        right: 7px;
       
    }
    .tbLeft,.tbRight{
        display: none;
    }
}

@media  screen and (max-width:600px) {
    .topbar{
        padding-top: 20px;
    }
    .topbarTop{
        border-bottom: none;
    }
    .tbLeft{
        display: none;
    }

    .tbCenter{
        width: 100%;
        height: 70px;
        border-radius: 70px;
        padding: 0;
    }

    .sbContainer{
        display: none;
    }

    .searchBarMobile{
        display: flex;
        height: 75px;
    }


    .tbRight{
        display: none;
    }

    .filterTabsWrapper{ 
        padding-bottom: 15px;
    }
    
    .filterIconsContainer{
        display: none;
    }
}

@media  screen and (max-width:400px) {
    .topbar{
        padding-top:20px;
        border-bottom: 2px solid var(--primary-grey);
    }
    .topbarTop{
        padding: 0;
        border-bottom: none;
        height: 60px;
    }
    .tbLeft{
        display: none;
    }

    .tbCenter{
        width: 100%;
        height: 60px;
        border-radius: 70px;
        padding: 0;
    }

    .sbContainer{
        display: none;
        height: 60px;
    }

    .searchBarMobile{
        display: flex;
        height: 60px;
    }


    .tbRight{
        display: none;
    }

    .filterTabsWrapper{
        
        padding-bottom: 15px;
    }

    .filterIconsContainer{
        display: none;
        height: 100%;
    }
}