.topbar{
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid black;
    height: 160px;
    position: fixed;
    top: 0;
}

.topbarTop{
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    border-bottom: 1px solid var(--primary-grey);
    
}

.tbLeft, .tbCenter, .tbRight{
    display: flex;
    align-items: center;
    flex: 1;
}

.logo{
    font-size: 35px;
    color: var(--airbnb-color);
}

.logoText{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: var(--airbnb-color);
}


.tbCenter{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 40px;
    color: var(--primary-black);
}

.searchBar, .sbContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    box-shadow: var(--customShadow);
    border: 1px solid var(--primary-grey);
    border-radius: 30px;
}
.sbContainer{
    width: 100%;
    border: none;
}


.anywhere, .anyweek, .addguests{
    width: 29%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    border-right: 1px solid var(--primary-grey);
}
.anywhere, .anyweek{
    font-weight:600;
}
.addguests{
    border-right: none;
    font-weight: 600;
    color: var(--text-grey);
}
.searchIconWrapper{
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: var(--airbnb-color);
    align-items: center;
    justify-content: center;
    color:white;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    
}

.searchIcon{
    font-weight: 600;
}


/*SEARCHBAR MOBILE HERE*************************************************/

.searchBarMobile{
    display: none;
    flex-direction: row;
    width: 100%;
}

.sbmLeft{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.sbmSearchIcon{
    font-size: 24px;
}

.sbmCenter{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 65%;
}
.whereto{
    font-weight: 600;
}

.sbmlinks{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.sbmlinks>span{
    font-size: 12px;
    cursor: pointer;
}

.sbmRight{
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-grey);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.filterIcon{
    font-size: 30px;
    font-weight: 600;
}


/***********************************************************/
.tbRight{
    justify-content: flex-end;
    gap: 20px;
}

.becomeHost{
    font-size: 11px;
    color: var(--primary-black);
    font-weight: 600;
    cursor: pointer;
}

.globe{
    font-size: 20px;
    color: var(--primary-black);
    cursor: pointer;
}

.profileContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width:20%;
    border: 1px solid var(--primary-grey);
    padding: 10px;
    border-radius: 30px;
    gap: 10px;
}

.menuIcon{
    font-size: medium !important;
    cursor: pointer;
}

.profileIcon{
    font-size: 30px;
    color:var(--text-grey);
    cursor: pointer;
}


.topBarBottom{
    width: 100%;
    height: 80px;
    display: flex;
    padding: 25px 0px 0px 15px;
    overflow: auto;
    position: relative;
    overflow-x: scroll;
    
}

.topBarBottom::-webkit-scrollbar{
    background: transparent;
}

.filterTabsWrapper{
    display: flex;
    flex-direction: row;
    width: 2000px;
    
}

.filterIconsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    background:linear-gradient(to right, rgba(255,255,255,0.5),0.25%, rgba(255,255,255,1));
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 20px;
    gap: 20px;
    z-index: 3;
}

.arrowWrapper, .filterBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary-grey);
    border-radius: 50%;
    background-color: #fff;
}

.filterBtnContainer{
    width: 45%;
    height: 40px;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    gap: 5px;
}

.filterBtnContainer>.filters{
    font-weight: 600;
    font-size: 10px;
}

.filterSlider{
    font-size: 20px;
    font-weight: 700;
}


















/**********************MEDIA QUERIES****************************************/


@media  screen and (max-width:1080px) {
    .topbarTop{
        justify-content: flex-start;
    }
    .tbLeft{
        flex: 0.5;
    }

    .iconText{
        display: none;
    }


}

@media  screen and (max-width:900px) {
    .tbLeft{
        flex: 0.1;
    }

    .tbCenter{
        flex: 1.6;
    }
    .tbRight{
        flex: 1.3;
    }
     
}



@media  screen and (max-width:600px) {

    .topbarTop{
        padding: 0;
        border-bottom: none;
    }
    .tbLeft{
        display: none;
    }

    .tbCenter{
        width: 100%;
        height: 70px;
        border-radius: 70px;
        padding: 0;
    }

    .sbContainer{
        display: none;
    }

    .searchBarMobile{
        display: flex;
    }


    .tbRight{
        display: none;
    }
    
}



@media  screen and (max-width:400px) {
    .topbarTop{
        padding: 0;
        border-bottom: none;
    }
    .tbLeft{
        display: none;
    }

    .tbCenter{
        width: 100%;
        height: 70px;
        border-radius: 70px;
        padding: 0;
    }

    .sbContainer{
        display: none;
    }

    .searchBarMobile{
        display: flex;
    }


    .tbRight{
        display: none;
    }

    .filterIconsContainer{
        display: none;
    }
}