
.card{
    display: flex;
    flex-direction: column;
    width:23%;
    height: 65vh;
    overflow: hidden;
    margin-bottom: 50px;
    font-size: 0.9rem;
    color:var(--primary-black);
    font-weight: 500;
    letter-spacing: 0.05rem;
    
}

.imgFrame{
    display: flex;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.cardPic{
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top:0px;
    left: 0px;
    cursor: pointer;

}


.cardInfoTop{
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin-top: 10px;
}

.category{
    font-weight: bolder;
    font-size: 0.95rem;
}

.ratingContainer{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 3px;
}
.ratingContainer>svg{
    font-size: 1rem;
    color:var(--primary-black)
    
}

.desc, .host, .beds, .date{
    color:grey;
    margin-bottom: 3px;
    font-size: 0.95rem;
}

.price>span{
    font-weight: bold;
    font-size: 0.95rem;

}

.price{
    font-weight: 500;
}



/****************************************************************/

@media screen and (max-width:1080px) {
    .card{
        width: 30%;
        height: 70vh;
    }
}

@media screen and (max-width:900px) {
    .card{
        width: 48%;
        height: 70vh;
    }
    .imgFrame{
        transform: scale(0.95);
    }
    
}

@media screen and (max-width:750px) {
    .card{
        width: 48%;
        height: 70vh;
    }
}

@media screen and (max-width:600px) {
    .card{
        width: 95%;
        height: 80vh;
    }

    .imgFrame{
        transform: scale(0.95);
    }
}

@media screen and (max-width:400px) {
    .card{
        width: 100%;
        height: 70vh;
    }
    
}