

.cardsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 20px;
    padding-bottom: 5vh;
    position: relative;
    top: 200px;
}

@media screen and (max-width:1080px){
    .cardsContainer{
        top:200px;
    }
}

@media  screen and (max-width:900px) {
    .cardsContainer{
        top:200px;
    }
}



@media  screen and (max-width:750px) {
    .cardsContainer{
        top:160px;
    }
}
@media screen and (max-width:600px){
    .cardsContainer{
        top: 200px;
    }
}

@media screen and (max-width:400px){
    .cardsContainer{
        top: 200px;
    }
}

